* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blueviolet;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

main {
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.introduction {
    margin: 35% 0 0 0;
}

.name, .build {
    font-size: 40px;
    padding: 1.5%;
}

.engineer {
    width: 70%;
    padding: 2%;
}

.me-container {
    width: 70%;
    margin: 3% 10%;
    /* text-align: center; */
    position: relative;
}

.about {
    display: flex;
    margin: 20% 0 0 0;
}

.about div {
    flex: 50%;
}

h3 {
    padding: 2%;
}

.me {
    width: 100%;
    z-index: 1;
}

.overlay {
    background-color: rgba(138, 43, 226, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.overlay:hover {
    background-color: transparent;
}

.about p {
    margin: 5% 1%;
}

.projects {
    width: 80%;
    margin: auto;
    padding: 20% 0;
}

.services {
    width: 60%;
    margin: auto;
    padding: 20% 0;
}

.contact {
    width: 60%;
    margin: auto;
    padding: 20% 0;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background-color: blueviolet;
}

.right {
    text-align: right;
    padding: 0 3%;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 80%;
    /* background-color: blue; */
    width: 20px;
    height: 30%;
}

@media screen and (max-width: 600px) {
    .about {
        flex-direction: column;
    }
}
