/* navbar.module.css */
.container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-bg);
    padding: 4rem 2rem 2rem;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.heading h1 a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-accent);
}

.list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.list li a {
    color: var(--color-fg);
    font-weight: 500;
    position: relative;
}

.list li a:hover {
    color: var(--color-accent);
}

.list li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s ease;
}

.list li a:hover::after {
    width: 100%;
}

.mobileMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobileMenu span {
    width: 25px;
    height: 3px;
    background-color: var(--color-fg);
    margin: 2px 0;
    transition: 0.3s;
}

/* Animation for hamburger menu when open */
.mobileMenu span.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.mobileMenu span.open:nth-child(2) {
    opacity: 0;
}

.mobileMenu span.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive design */
@media (max-width: 768px) {
    .list {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        background-color: var(--color-bg);
        padding: 1rem 3rem;
        box-shadow: 0 1px 2px var(--color-card-fg);
        gap: 1rem;
    }

    .list.active {
        display: flex;
        animation: fadeIn 0.3s ease-in-out;
    }

    .list li {
        padding: 0.5rem 0;
    }

    .mobileMenu {
        display: flex;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}