.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.experience {
    background-color: var(--color-card-bg);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    margin: 3rem 0;
}

.experience:hover {
    transform: translateY(-5px);
}

.experience h3 {
    color: var(--color-accent);
    margin-bottom: 0.5rem;
}

.experience h4 {
    margin-bottom: 1rem;
    font-style: italic;
}

.experience ul {
    padding-left: 1.5rem;
}

.experience li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
}